*{
    margin: 0;
    padding: 0;
    list-style: none;

}
clearfix::after{
    content:'';
    display: block;
    clear: both;
}
.topNavBar-wrapper .topNavBar .topNavBarLeft>ul>li{
    float: left;
    color:#747474;
    font-size: 13px;
    padding-right: 8px;
    margin-right: 16px;
}
